#main_section{ -webkit-box-shadow: rgba(110,110,110,.6) 0px 0px 4px;}
.row{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
.col{
	display: inline-block;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: horizontal;
}
.genre{
	display: inline-block;
	display: -webkit-box;
	-webkit-box-flex: 1;
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid skyblue;
}
.genre_img{
	height: 150px;
	width: 250px;
}