article{
	padding: 50px;
	margin-bottom: 30px;
	}
article h1{
	font: inherit 22px normal;
	}
article h2{
	font: inherit 18px bold;
	margin: 10px;
	}
article p{
	text-indent: 1em;
	}
article ol li{
	list-style-type: lower-roman;
	list-style-position: inside;
	margin-left: 1em;
	}
article ol ol li{
	list-style: lower-alpha;
	list-style-position: inside;
	margin-left: 1em;
	}
