*{margin: 0px;padding: 0px;}
header, footer, section, aside, nav, article, hgroup, video {display: block;}
a{text-decoration: none; color: #4f4f4f}
a:hover{color: #00B359;text-shadow: rgba(110,110,110,.4) 0px 0px 4px;}

body{
	width: 100%; 
	display: -webkit-box;
	-webkit-box-pack: center;
	background: url(bg.jpg) center no-repeat fixed;
}

#wrapper{
	background: #FFFFFF;
	border: 1px;
	width: 1200px;
	margin: auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	-webkit-box-shadow: rgba(110,110,110,.7) 0px 0px 8px;
	font-family: "Tw Cen MT", "Berlin Sans FB", "Calibri Light";
}

#main_header{
	padding: 20px;
}

#main_nav{
}

#main_nav li{
	display: inline-block;
	list-style: none;
	margin: 0px 15px;
	padding: 5px;
	-webkit-transition:-webkit-transform 0.3s;
}
#main_nav li:hover{
	-webkit-transform: scale(1.5,1.5) rotate(360deg);
}

#main_div{
	display: -webkit-box;
	-webkit-box-oreint: horizontal;
	-webkit-box-align: strech;
}
article {
	padding: 20 px;
	margin-bottom: 15px;
}

#main_aside{
	-webkit-box-flex: 1;
	margin: 20px 10px 20px 20px;
	padding: 30px;
	background: #F2F2F2;
}
#article1{
	font-family: Gabriola;
	font-size: 18px;
	text-align: center;
}

#main_section{
	-webkit-box-flex: 4;
	margin: 20px;
	margin-left: 10px;
	padding: 20px;
}
#welcome_para{
	font-family: "Bleeding Cowboys", "Rage Italic", Vivaldi, Gabriola;
	font-size: larger;
	text-align: center;
}

#main_footer{
	text-align: center;
	background: white;
	padding: 20px;
	font-size:10px;
	margin-top:1em;
	padding-top:0.5em;
}
#main_footer>p {margin:0;padding:0;}
.submit{margin-top:20px;font-size:1.06667em;color:white;text-shadow:1px 1px 0 rbga(0,0,0,0.5);background: #0C9;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#0C9),color-stop(100%,#0C9));background-image:-webkit-linear-gradient(#0C9,#0C9);background-image:-moz-linear-gradient(#0C9,#0C9);background-image:-o-linear-gradient(#0C9,#0C9);background-image:linear-gradient(#0C9,#0C9);border:3px solid #096;border-radius:40px;padding:0.5em 2.75em;cursor:pointer}

.submit:hover{margin-top:20px;font-size:1.09em;color:#096;text-shadow:2px 2px 0 rbga(0,0,0,0.9);background: #0C9;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#0C9),color-stop(100%,#0C9));background-image:-webkit-linear-gradient(#0C9,#0C9);background-image:-moz-linear-gradient(#0C9,#0C9);background-image:-o-linear-gradient(#0C9,#0C9);background-image:linear-gradient(#0C9,#0C9);border:3px solid #096;border-radius:50px;padding:0.5em 2.75em;cursor:pointer}