*{margin: 0px;padding: 0px;}
header, footer, section, aside, nav, article, hgroup, video {display: block;}
a{text-decoration: none; color: #4f4f4f}

body{
	width: 100%; 
	display: -webkit-box;
	-webkit-box-pack: center;
}

#wrapper{
	background: #FFFFFF;
	background: url(bg.jpg) center no-repeat fixed;
	border: 1px;
	width: 1200px;
	margin: auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 0;
	-webkit-box-shadow: rgba(110,110,110,.7) 0px 0px 8px;
	font-family: "Tw Cen MT", "Berlin Sans FB", "Calibri Light";
}

#main_header{
	padding: 20px;
}

#main_nav{
}

#main_nav li{
	display: inline-block;
	list-style: none;
	margin: 0px 15px;
	padding: 5px;
	-webkit-transition:-webkit-transform 0.3s;
}
#main_nav li:hover{
	-webkit-transform: scale(1.5,1.5) rotate(360deg);
}

#main_div{
	display: -webkit-box;
	-webkit-box-oreint: horizontal;
	-webkit-box-align: strech;
}
article {
	padding: 20 px;
	margin-bottom: 15px;
}

#main_aside{
	-webkit-box-flex: 1;
	margin: 20px 10px 20px 20px;
	padding: 30px;
}
#article1{
	font-family: Gabriola;
	font-size: 18px;
	text-align: center;
}

#main_section{
	-webkit-box-flex: 4;
	margin: 20px;
	margin-left: 10px;
	padding: 20px;
}
#welcome_para{
	font-family: "Bleeding Cowboys", "Rage Italic", Vivaldi, Gabriola;
	font-size: larger;
	text-align: center;
}

#main_footer{
	text-align: center;
	padding: 20px;
	font-size:10px;
	margin-top:1em;
	padding-top:0.5em;
}
#main_footer>p {margin:0;padding:0;}